.CompactCard{
    display: flex;
    flex: 1;
    height: 7rem!important;
    border-radius: 0.7rem;
    color: var(--color-white);
    position: relative;
    cursor: pointer;
    padding: 1rem;
}
.CompactCard:hover{
    box-shadow: none !important;
}

/* radialbar */

.radialBar{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 13px;
}

.CircularProgressbar{
    width: 4rem !important;
    overflow: visible;
}
.CircularProgressbar-path{
    stroke: var(--color-white)!important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px var(--color-white));
}
.CircularProgressbar-trail{
    display: none; 
}
.CircularProgressbar-text{
    fill: var(--color-white) !important;
}
.radialBar span{
    font-size: 17px;
    font-weight: bold;
}


.detail{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}
.detail>span:nth-child(3){
    font-size: 12px;
}

.ExpendedCard{
    position: absolute;
    width: 60%;
    height: 70vh;
    z-index: 9;
    left: 13rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.ExpendedCard>span:nth-of-type(1){
    color: var(--color-white);
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0px 0px 15px var(--color-white);
}
.ExpendedCard>span:nth-of-type(2){
    color: rgb(224, 224, 224);
    font-size: 16px;
}
.chartContainer{
    width: 70%;
}

@media screen and (max-width: 1200px) {
    .ExpendedCard {
        top: 2rem;
        height: 70vh;
        left: 6rem;
    }
}
@media screen and (max-width: 768px) {
    .ExpendedCard{
        top: 8rem;
        height: 50vh;
        left: 15px;
        width: 80%;
    }
}